<header>
    <nav>
        <!-- main navbar -->
        <article class="navbar-list">
                <ul class="navbar-section">
                    <li>
                        <button type="button" class="btn-menu"><img src="/assets/menu.svg" alt="menu-icon"> Menu</button>
                    </li>
                    <li><a href="/"><img src="/assets/fundawonen-logo.svg" alt="funda-logo" class="funda-logo"></a></li>
                </ul>

                <ul class="navbar-section">
                    <li>
                        <a href="#"><img src="/assets/house.svg" alt="house-icon"> Mijn huis</a>
                    </li>
                    <li>
                        <a href="/favorites"><img src="/assets/user.svg" alt="user-icon"> Mohammed</a>
                    </li>
                </ul>
        </article>

        <!-- toggled navbar -->
        <article class="toggled-navbar-list">
                <ul class="toggled-nav-top">
                    <li>
                        <button type="button" class="btn-menu"><img src="/assets/menu.svg" alt="menu-icon"> Menu</button>
                    </li>
                    <li>
                        <button type="button" class="btn-nav-remove"><img src="/assets/remove.svg" alt="remove-icon"></button>
                    </li>
                </ul>

                <ul class="toggled-nav-menu">
                    <li>Kopen</li>
                    <li>Huren</li>
                    <li>Verkopen</li>
                    <li><a href="/favorite/1">Groeps favorieten</a></li>
                </ul>
        </article>
    </nav>
</header>