<ul class="star-list">
    <li class="star-item">
        <label for="star1"><img src="/assets/icon-star.svg" alt="icon-star"></label>
        <input type="radio" name="star" id="star1" value="1">
    </li>
    <li class="star-item">
        <label for="star2"><img src="/assets/icon-star.svg" alt="icon-star"></label>
        <input type="radio" name="star" id="star2" value="2">
    </li>
    <li class="star-item">
        <label for="star3"><img src="/assets/icon-star.svg" alt="icon-star"></label>
        <input type="radio" name="star" id="star3" value="3">
    </li>
    <li class="star-item">
        <label for="star4"><img src="/assets/icon-star.svg" alt="icon-star"></label>
        <input type="radio" name="star" id="star4" value="4">
    </li>
    <li class="star-item">
        <label for="star5"><img src="/assets/icon-star.svg" alt="icon-star"></label>
        <input type="radio" name="star" id="star5" value="5">
    </li>
</ul>